.home {
    display: grid; 
    grid-template-rows: 50px 1fr;
    font-family: Roboto;
    padding: 15px 5%;   
    height: calc(100dvh - 40px);
    opacity: 0;
    transform: translateY(30%);
    transition: opacity .7s ease, transform .2s ease;
}

.home .top {
    position: relative;
    display: flex;
    justify-content: center;
}

.home .middle {
    padding: 10px;
    outline: none;
    overflow-y: scroll;
}

.home .view-title {
    display: flex;
    position: relative;
    margin: 50px 0;
    color: var(--important);
}

.home .recent-folders {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fill, 50px);
    gap: 20px;
}

.home .recent-notes {
    max-width: 100%;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    grid-template-rows: repeat(auto-fill, 280px);
    margin-bottom: 50px;
}

.flashcard-decks {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-template-rows: repeat(auto-fill, 205px);
    gap: 20px;
}

.home .flashcard-deck {
    transition: scale .2s ease;
}

.home .flashcard-deck:hover {
    scale: 1.05;
}




/*__________________________ greetings art __________________________*/

.time-of-day-art {
    margin: 0 20px;
}
.evening-sun {
    width: 75px; /* Width of the half-circle */
    height: 37.5px; /* Half the height of the circle */
    background: radial-gradient(circle at bottom, rgb(255, 212, 132), rgb(241, 155, 155)); /* Gradient for a setting sun effect */
    border-top-left-radius: 75px; /* Make the top corners rounded */
    border-top-right-radius: 75px; /* Make the top corners rounded */
    border-bottom-left-radius: 0; /* No rounding at the bottom */
    border-bottom-right-radius: 0; /* No rounding at the bottom */
    display: inline-block;
    margin: 0 10px; /* Center the shape horizontally */
}

.afternoon-sun,
.morning-sun {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: radial-gradient(circle at bottom, rgb(250, 203, 116), rgb(255, 230, 162)); /* Gradient for a setting sun effect */

}

.night-moon {
    width: 75px;
    height: 75px;
    background: radial-gradient(circle, #e5eaf7, #e6ecff); /* Subtle texture gradient for moon surface */
    border-radius: 50%; /* Makes it a perfect circle */
    box-shadow: 
        0 0 30px rgba(213, 227, 255, 0.8), /* Glow around the moon */
        0 0 10px rgba(211, 231, 255, 0.6), 
        inset 0 -5px 10px rgba(158, 172, 214, 0.2); /* Inner shadow for slight depth */
    display: inline-block;
}