.home-view {
    display: grid; 
    grid-template-rows: 50px 1fr;
    padding: 0 5%;
    height: calc(100dvh - 40px);
    overflow-y: scroll;
    opacity: 0;
    transform: translateY(30%);
    transition: opacity .7s ease, transform .2s ease;
}

.home-view .top {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--background);
    display: flex;
    justify-content: center;
}

.home-view .bottom {
    padding: 15px;
    outline: none;
}

.home-view .view-title {
    display: flex;
    position: relative;
    margin: 50px auto;
    color: var(--important);
}

.home-view .recent-folders {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fill, 50px);
    gap: 20px;
}

.home-view .recent-notes {
    max-width: 100%;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    grid-template-rows: repeat(auto-fill, 280px);
    margin-bottom: 50px;
}


.show-bookmarks-patch {
    display: flex; 
    align-items: center;
    column-gap: 10px;
    background-color: var(--bookmark-patch-bg-color);
    color: white;
    padding: 5px 20px;
    margin: 0 30px;
    font-weight: var(--font-weight-semi-bold);
    font-size: 13px;
    border-radius: 10px;
    width: fit-content;
    cursor: pointer;
    transition: 150ms;
}
  
.show-bookmarks-patch:hover {
    scale: 1.05;
}


.show-bookmarks-patch:active {
    scale: 1.1;
}
