organisation-modal {
    background-color: var(--modal);
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: fit-content;
    padding: 30px 40px;
    justify-content: center;
    box-shadow: 0 10px 20px var(--shadow);
}

organisation-modal h2 {
    color: var(--important);
    font-size: 32px;
    margin: 0;
    font-weight: 500;
}


organisation-modal h2 i {
    margin: 0 10px;
}


organisation-modal p {
    color: var(--less-important);
    max-width: 550px;
}


.folder-settings {
    display: flex;
    flex-direction: column;
}

.folder-settings #title {
    font-size: 17px;
    color: var(--important);
    font-weight: 600;
    margin: 40px 0 0;
}


organisation-modal input {
    border: none;
    background-color: transparent;
    border-bottom: 2px solid var(--inactive-border);
    padding: 5px 10px;
    height: 45px;
    color: var(--text);
    font-size: 20px;
    width: 100%;
    transition: 200ms;
}

organisation-modal input:hover,
organisation-modal input:focus {
    border-color: #5c7dff;
}


appearance-options {
    display: flex;
    padding: 20px 10px;
}


appearance-options #color-option {
    min-width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    transition: 50ms;
    border: 2px solid transparent;
}

appearance-options .color-option-wrapper {
    padding: 5px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 2px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}


.folder-color-options .color-original {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: 50ms;
    background-color: var(--card);
    border: 2px solid var(--border-card);
}


.buttons-container {
    display: flex;
    gap: 15px;
    padding: 10px 0;
    justify-content: end;
}


.folder-color-options {
    display: flex;
    flex-flow: wrap;
    height: 80px;
    align-items: center;
}


#open-emoji-picker-btn {
    position: absolute;
    top: 45%;
    right: 10%;
    color: var(--placeholder);
    font-size: 20px;
    cursor: pointer;
    transition: scale .15s ease, color .15s ease;
}

#open-emoji-picker-btn:hover {
    scale: 1.2;
}

#open-emoji-picker-btn:active {
    scale: 1.4;
}