.new-sticky-board-modal {
    padding: 30px 40px;
    width: 650px;
    height: 550px;
    display: flex;
    flex-direction: column;
    background-color: var(--modal);
    border-radius: 10px;
}

.board-types {
    margin: 10px 0;
    width: fit-content;
    border-radius: 50px;
    background-color: var(--board-types);
    display: flex;
    height: 40px;
    column-gap: 20px;
}

.board-types div {
    cursor: pointer;
    transition: 200ms;
    color: var(--text);
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    border-radius: 50px;
}

.selected-board-type {
    background-color: var(--active-board-type);
}

.board-types div:hover {
    scale: 1.05;
}

.new-sticky-board-modal h2 {
    font-weight: 500;
    font-size: 32px;
    color: var(--important);
}


.new-sticky-board-modal input {
    border: none;
    background-color: transparent;
    padding: 5px 10px;
    height: 45px;
    margin-bottom: 10px;
    color: #444863;
    font-size: 20px;
    transition: 200ms;
    border-bottom: 2px solid var(--inactive-border);
}

.board-settings {
    display: flex;
    flex-direction: column;
}

.new-sticky-board-modal #title {
    color: var(--important);
    font-size: 17px;
    font-weight: 600;
    margin: 40px 0 0;
}

.new-sticky-board-modal p {
    color: #9b9bb5;
    margin: 0 0 5px;
}

.new-sticky-board-modal .buttons-container {
    display: flex;
    justify-content: end;
    gap: 15px;
    padding-top: 10px;
}