.note-details-modal {
    display: flex;
    flex-direction: column;
    padding: 10px 40px;
    width: 600px;
    background-color: var(--modal);
    box-shadow: 0 0 10px var(--shadow);
}

.note-details-modal h2 {
    color: var(--important);
    font-size: 32px;
    font-weight: 500;
}

.note-details-modal .note-name-details {
    color: var(--text);
    padding: 5px 0;
}

.note-details-modal table {
    margin: 0 0 50px 0;
}

.note-details-modal td {
    padding: 10px 0;
}

.note-details-modal i {
    margin: 0 10px;
}

.note-details-modal .property {
    color: #abadc4;
    font-weight: 600;
}

.note-details-modal .property-value {
    color: var(--text);
}