autocomplete-searchbar .searchbar-dropdown::-webkit-scrollbar,
reference-autocomplete-searchbar .reference-item-list::-webkit-scrollbar,
.content-view::-webkit-scrollbar,
.note-view-content::-webkit-scrollbar,
.font-options::-webkit-scrollbar,
.home .middle::-webkit-scrollbar,
.editor-wrapper .templates-container::-webkit-scrollbar,
.board-wrapper::-webkit-scrollbar,
.sticky-wall-view::-webkit-scrollbar,
.sticky-home-view::-webkit-scrollbar,
.standard-sticky-board-view::-webkit-scrollbar,
.column-sticky-board-view::-webkit-scrollbar,
.slash-command-container .commands::-webkit-scrollbar,
.recently-viewed-notes-dropdown .options::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
}

.editor::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}

.editor::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-editor);
    border-radius: 5px;
}


autocomplete-searchbar .searchbar-dropdown::-webkit-scrollbar-thumb,
reference-autocomplete-searchbar .reference-item-list::-webkit-scrollbar-thumb,
.font-options::-webkit-scrollbar-thumb,
.content-view::-webkit-scrollbar-thumb,
.note-view-content::-webkit-scrollbar-thumb,
.home .middle::-webkit-scrollbar-thumb,
.editor-wrapper .templates-container::-webkit-scrollbar-thumb,
.board-wrapper::-webkit-scrollbar-thumb,
.sticky-wall-view::-webkit-scrollbar-thumb,
.standard-sticky-board-view::-webkit-scrollbar-thumb,
.column-sticky-board-view::-webkit-scrollbar-thumb,
.sticky-home-view::-webkit-scrollbar-thumb,
.slash-command-container .commands::-webkit-scrollbar-thumb,
.recently-viewed-notes-dropdown .options::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-content-view);
    border-radius: 10px;
}

.sidebar-content-upper::-webkit-scrollbar,
.note-view-options-dropdown .dropdown-items::-webkit-scrollbar{
    background-color: transparent;
    width: 0;
}

.sidebar-content-upper::-webkit-scrollbar-thumb,
.note-view-options-dropdown .dropdown-items::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
}