autocomplete-searchbar .searchbar-dropdown::-webkit-scrollbar,
reference-autocomplete-searchbar .reference-item-list::-webkit-scrollbar,
.font-options::-webkit-scrollbar,
.slash-command-container .commands::-webkit-scrollbar,
.recently-viewed-notes-dropdown .options::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
}

.editor::-webkit-scrollbar,
.notes-view::-webkit-scrollbar,
.home-view::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}

.editor::-webkit-scrollbar-thumb,
.notes-view::-webkit-scrollbar-thumb ,
.home-view::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-editor);
    border-radius: 5px;
}


autocomplete-searchbar .searchbar-dropdown::-webkit-scrollbar-thumb,
reference-autocomplete-searchbar .reference-item-list::-webkit-scrollbar-thumb,
.font-options::-webkit-scrollbar-thumb,
.slash-command-container .commands::-webkit-scrollbar-thumb,
.recently-viewed-notes-dropdown .options::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-content-view);
    border-radius: 10px;
}

.sidebar-content-upper::-webkit-scrollbar,
.note-view-options-dropdown .dropdown-items::-webkit-scrollbar{
    background-color: transparent;
    width: 0;
}

.sidebar-content-upper::-webkit-scrollbar-thumb,
.note-view-options-dropdown .dropdown-items::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
}