folder-card {
    cursor: pointer;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px;
    background: var(--folder);
    border-radius: 10px;
    color: var(--important);
    opacity: 0;
    transform: translateY(30%);
    transition: opacity .7s ease, transform .25s ease, scale .2s ease;
}


folder-card:hover {
    scale: 1.05;
}


folder-card div:hover {
    opacity: 1;
}


folder-card p {
    padding: 5px;
    margin: 0 10px;
    font-size: 15px;
}


recent-folder-card {
    cursor: pointer;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px;
    background: var(--folder);
    border-radius: 10px;
    color: var(--important);
    opacity: 0;
    transform: translateY(30%);
    transition: opacity .7s ease, transform .25s ease, scale .2s ease;
}

recent-folder-card:hover {
    scale: 1.05;

}

recent-folder-card i,
folder-card i {
    margin-right: 10px;
    font-size: 18px;
}


folder-path {
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    color: var(--file-path);
    cursor: pointer;
    transition: .2s;
}

folder-path:hover {
    background-color: var(--hover);
    color: #5c7fdd;
}





.color-blue-1 p,
.color-blue-2 p,
.color-blue-3 p,
.color-green-1 p,
.color-green-2 p,
.color-green-3 p,
.color-purple-1 p,
.color-purple-2 p,
.color-red-1 p,
.color-red-2 p,
.color-orange-1 p,
.color-orange-2 p {color: #1b1c22}


.light .color-blue-1 {background: rgb(121, 144, 255)}
.light .color-blue-2 {background: rgb(169, 215, 255)}
.light .color-blue-3 {background: rgb(217, 237, 255)}
.light .color-green-1 {background: rgb(158, 213, 197)}
.light .color-green-2 {background: rgb(203, 255, 197)}
.light .color-green-3 {background: rgb(173, 255, 164)}
.light .color-purple-1 {background: rgb(142, 122, 181)}
.light .color-purple-2 {background: rgb(223, 193, 255)}
.light .color-red-1 {background: rgb(255, 163, 163)}
.light .color-red-2 {background: rgb(255, 197, 197)}
.light .color-orange-1 {background: rgb(255, 182, 116)}
.light .color-orange-2 {background: rgb(255, 224, 158)}

.light .color-blue-1 #folder-icon {color: rgb(50, 72, 177) !important;}
.light .color-blue-2 #folder-icon {color: rgb(70, 158, 239)  !important;}
.light .color-blue-3 #folder-icon {color: rgb(143, 191, 236) !important;}
.light .color-green-1 #folder-icon {color: rgb(36, 169, 130) !important;}
.light .color-green-2 #folder-icon {color: rgb(85, 183, 73) !important;}
.light .color-green-3 #folder-icon {color: rgb(32, 146, 20) !important;}
.light .color-purple-1 #folder-icon {color: rgb(100, 58, 178) !important;}
.light .color-purple-2 #folder-icon {color: rgb(167, 103, 236) !important;}
.light .color-red-1 #folder-icon { color: rgb(225, 82, 82) !important;}
.light .color-red-2 #folder-icon {color: rgb(255, 108, 108) !important;}
.light .color-orange-1 #folder-icon {color: rgb(220, 109, 10) !important;}
.light .color-orange-2 #folder-icon {color: rgb(239, 170, 21) !important;}


.dark .color-blue-1 {background: rgb(121, 144, 255)}
.dark .color-blue-2 {background: rgb(80 141 196)}
.dark .color-blue-3 {background: rgb(122 179 228)}
.dark .color-green-1 {background: rgb(100 174 152)}
.dark .color-green-2 {background: rgb(153 230 145)}
.dark .color-green-3 {background: rgb(123 219 113)}
.dark .color-purple-1 {background: rgb(142, 122, 181)}
.dark .color-purple-2 {background: rgb(180 152 210)}
.dark .color-red-1 {background: rgb(196 91 91)}
.dark .color-red-2 {background: rgb(228 141 141)}
.dark .color-orange-1 {background: rgb(224 154 91)}
.dark .color-orange-2 {background: rgb(243 182 114)}

.dark .color-blue-1 #folder-icon {color: rgb(31 41 89) !important;}
.dark .color-blue-2 #folder-icon {color: rgb(7 63 113) !important;}
.dark .color-blue-3 #folder-icon {color: rgb(34 122 200) !important;}
.dark .color-green-1 #folder-icon {color: rgb(49 122 101) !important;}
.dark .color-green-2 #folder-icon {color: rgb(80 175 69) !important;}
.dark .color-green-3 #folder-icon {color: rgb(9 90 0) !important;}
.dark .color-purple-1 #folder-icon {color: rgb(100, 58, 178) !important;}
.dark .color-purple-2 #folder-icon {color: rgb(121 85 161) !important;}
.dark .color-red-1 #folder-icon { color: #742828 !important;}
.dark .color-red-2 #folder-icon {color: rgb(192 43 43) !important;}
.dark .color-orange-1 #folder-icon {color: rgb(193 91 0) !important;}
.dark .color-orange-2 #folder-icon {color: rgb(225 132 20) !important;}

