.timeline {
    width: 60%;
    margin: 50px auto;
    position: relative;
}

.timeline:before {
    content: '';
    position: absolute;
    width: 1px;
    background-color: #6334db;
    top: 0;
    bottom: 0;
    z-index: 0;
}

milestone-card {
    display: flex;
    margin-bottom: 50px;
    position: relative;
}


milestone-card h2 {
    font-family: sans-serif;
    color: var(--important);
}

milestone-card .timeline-icon {
    padding: 6px;
    background-color: #45deab;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: -5px;
    z-index: 1;
}

milestone-card .timeline-content {
    background-color: var(--background);
    margin-left: 40px;
    border-radius: 6px;
    position: relative;
}

milestone-card .date {
    position: absolute;
    top: -12px;
    left: -110px;
    padding: 2px 5px;
    border-radius: 5px;
    background-color: #b5ffc370;
    color: #74be7d;
    font-family: sans-serif;
    display: block;
    font-size: 0.8rem;
    margin-top: 10px;
}
 
milestone-card p {
    display: flex;
    align-items: center;
    color: var(--text);
    font-size: 16px;
    font-family: Roboto;
    font-weight: 600;
}


milestone-card p i {
    font-size: 20px;
    margin-right: 10px;
}

milestone-card .milestone-options {
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 10px;
    gap: 10px;
    opacity: .2;
    transition: 200ms;
    cursor: auto;
}

milestone-card .milestone-options:hover {
    opacity: 1;
}

milestone-card .milestone-options i {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    color: var(--icon);
}

milestone-card .milestone-options i:hover {
    background-color: var(--hover);
    color: var(--icon-hover);
}

milestone-card .progress {
    display: flex;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
    height: 10px;
    background-color: var(--background);
}

milestone-card .progress__todo {
    position: relative;
    border:2px dashed #d4b8ee;
    width: 40%;
    border-radius: 0 10px 10px 0;

}

milestone-card .progress__doing {
    position: relative;
    border:2px solid #abbcff;
    width: 40%;
    
}

milestone-card .progress__done {
    position: relative;
    background-color: #afe6af;
    width: 20%;
    border-radius: 10px 0 0 10px;
}


milestone-card .big-text {
    color: var(--important);
    font-size: 20px;
    margin: 0 5px;
    font-family: sans-serif;
}

milestone-card .progress span {
    position: absolute;
    color: var(--text);
    font-weight: 600;
    top: 15px;
    left: 10%;
    font-size: 14px;
}