note-card,
recent-note-card,
template-card {
    cursor: pointer;
    min-height: 280px;
    max-height: 280px;
    border-radius: 15px;
    background-color: var(--card);
    display: grid;
    grid-template-rows: 40px 1fr;
    margin: 20px;
    overflow: visible;
    opacity: 0;
    transform: translateY(30%);
    transition: opacity .7s ease, transform .25s ease, scale .2s ease;
    box-shadow: var(--card-shadow);
}

note-card:hover,
recent-note-card:hover,
template-card:hover {
    scale: 1.05;
}

note-card .bookmark {
    background-color: var(--bookmark) !important;
}

note-card h4,
recent-note-card h4,
template-card h4 {
    padding: 5px;
    margin: auto 10px;
    color: var(--important);
    font-size: 15px;
    font-weight: 500;
}

note-card .note-content-box,
recent-note-card .note-content-box,
template-card .note-content-box {
    padding: 10px;
    overflow: hidden;
    color: var(--text);
    cursor: pointer;
    font-size: 9px;
}


note-card .note-content-box img,
recent-note-card .note-content-box img,
template-card .note-content-box img {
    max-width: 150px;
    border-radius: 5px;
}

note-card .note-content-box i {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    color: var(--text);
}

note-card .note-content-box iframe,
recent-note-card .note-content-box iframe {visibility: hidden}

note-card .note-content-box hr,
recent-note-card .note-content-box hr {
    border-style: none;
    border-radius: 5px;
    border: 1px solid var(--editor-text);
  }

note-card .note-content-box :where(h1, h2),
recent-note-card .note-content-box :where(h1, h2) {
    color: var(--important);
    font-weight: 600;
    font-size: 12px
}

note-card .note-content-box h1,
recent-note-card .note-content-box h1{
    font-size: 14px;
    font-weight: 600;
}

note-card .note-content-box .linked-note-container {visibility: hidden}
note-card .note-content-box a {color: rgb(67, 142, 255)}