/* _____________________ Sticky note component ________________________ */

sticky-card {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    height: 220px;
    min-height: 220px;
    display: grid;
    grid-template-rows: 20px 1fr 30px;
    box-shadow: 0 0 10px var(--shadow);
    opacity: 0;
    transform: translateY(30%);
    transition: opacity .7s ease, transform .25s ease, scale .3s ease;
}

sticky-card:hover {
    scale: 1.05;
}

sticky-card h3 {
    margin: 0;
    font-weight: 500;
    color: rgb(31, 32, 34);
}

sticky-card p {
    color: rgb(42, 42, 49);
}





/*________________________ Sticky board component ______________________________*/

sticky-board {
    cursor: pointer;
    display: grid;
    grid-template-rows: 1fr 1fr;
    border-radius: 10px;
    transition: 200ms;
    background-color: var(--card);
    min-height: 200px;
}

sticky-board:hover {
    scale: 1.05;
}

sticky-board i {
    margin: auto;
    font-size: 30px;
    color: #5c7fdd;
}

sticky-board div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

sticky-board p {
    margin: 0;
    color: var(--important);
}

sticky-board span {
    color: var(--less-important)
}






/* Sticky component style classes */
/* These style classes are for the stickies within a standard sticky board type */

.sticky-small {
    padding: 10px;
    transition: 200ms;
    border-radius: 5px;
    background-color: rgb(69, 182, 154);
    grid-column: span 1; /* Occupies 1 column */
    grid-row: span 1;    /* Occupies 1 row */
}

.sticky-long {
    padding: 10px;
    transition: 200ms;
    border-radius: 5px;
    background-color: rgb(46, 141, 146);
    grid-column: span 1; /* Occupies 1 column */
    grid-row: span 2;    /* Occupies 2 rows */
}

.sticky-wide {
    padding: 10px;
    transition: 200ms;
    border-radius: 5px;
    background-color: #607D8B;
    grid-column: span 2; /* Occupies 2 columns */
    grid-row: span 1;    /* Occupies 1 row */
}