.settings {
    display: flex;
    flex-direction: column;
    padding: 0 5%;   
    height: calc(100dvh - 37px);
    max-height: calc(100dvh - 37px);
    opacity: 0;
    transform: translateX(30%);
    transition: opacity .7s ease, transform .2s ease;
}


.settings-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    column-gap: 20px;
}


.settings-container h3 {
    font-size: 20px;
    margin-top: 25px;
    font-weight: 500;
    margin-bottom: 5px;
    color: var(--important);
}

.settings-container p {
    margin-top: 0;
    color: var(--important);
    
}

.theme-dropdown,
.folder-icon-color-dropdown,
.sidebar-color-dropdown,
.widget-style-dropdown {
    position: relative;
    border-radius: 5px;
    background-color: var(--setting-dropdown);
}


.theme-dropdown input,
.sidebar-color-dropdown input,
.widget-style-dropdown input,
.folder-icon-color-dropdown input {
    background-color: transparent;
    border: none;
    width: 100%;
    color: var(--text);
    padding: 10px;
    font-size: 16px;
}