.standard-sticky-board-view {
    container: inline-size;
    outline: none;
    height: calc(100dvh - 37px);
    max-height: calc(100dvh - 37px);
    overflow-y: scroll;
    padding: 0 5%;
    opacity: 0;
    transform: translateY(30%);
    transition: opacity .7s ease, transform .2s ease;
}


.standard-sticky-board-view h2,
.column-sticky-board-view h2{
    color: var(--important);
    outline: none;
}



.sticky-small:hover,
.sticky-long:hover,
.sticky-wide:hover{
    scale: 1.025;
}

.add-sticky-btn {
    position: sticky;
    bottom: 30px;
    left: 0;
    width: 35px;
    background-color: transparent;
    height: 35px;
    border-radius: 10px;
    color: var(--important);
    font-size: 20px;
}

.add-sticky-btn:hover {
    scale: 1.25;
    background-color: var(--button1-bg);
}


.standard-sticky-board-wrapper {
    margin-top: 50px;
    width: 100%;
    min-height: 400px;
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-auto-rows: 200px; /* Two rows, each 100px tall */
    justify-content: center;
    gap: 10px; /* Space between grid items */
}

.sticky-board-name-container {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.sticky-board-name-container button {
    position: relative;
    width: 35px;
    height: 35px;
    font-size: 20px;
    color: var(--text);
    border-radius: 10px;
    background-color: transparent;
}

.sticky-board-name-container button:hover {
    background-color: var(--hover-button);
}





/* Columns sticky board view styles*/

.column-sticky-board-view {
    display: grid;
    grid-template-rows: 80px 1fr;
    outline: none;
    height: calc(100dvh - 37px);
    max-height: calc(100dvh - 37px);
    padding: 0 5%;
    opacity: 0;
    transform: translateY(30%);
    transition: opacity .7s ease, transform .2s ease;
}

.board-wrapper {
    position: relative;
    display: flex;
    column-gap: 40px;
    max-width: 100%;
    overflow-x: auto;
    height: 100%;
    background-color: transparent;
}

/*.board-wrapper::-webkit-scrollbar {*/
/*    height: 8px;*/
/*    background-color: transparent;*/
/*}*/

/*.board-wrapper::-webkit-scrollbar-thumb {*/
/*    background-color: #eff0f4;*/
/*    border-radius: 4px;*/
/*}*/


.board-column {
    display: grid;
    grid-template-rows: 70px 1fr;
    max-width: 310px;
    min-width: 310px;
    background: var(--background-column);
    border-radius: 10px;
    margin-bottom: 20px;
}

.board-section-top {
    display: flex;
    padding: 0 10px;
}

.stickies-container::-webkit-scrollbar {
    background-color: transparent;
    width: 7px;
}

.stickies-container::-webkit-scrollbar-thumb {
    background-color: #eff0f4;
    border-radius: 5px;
}

.stickies-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, 200px);
    gap: 20px;
    padding: 10px;
    overflow-y: scroll;
}

.board-column input {
    outline: none;
    border: none;
    padding-left: 20px;
    font-size: 18px;
    color: var(--important);
    background-color: transparent;
}

.board-column input::placeholder {
    color: var(--placeholder-column-board);
}

.board-column button {
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: var(--column-board-button);
    border-radius: 5px;
    color: #5c7dff;
    font-size: 16px;
    margin: auto;
}

.board-column button:hover {
    scale: 1.15;
}

.board-column button:active {
    scale: 1.25;
}

