folder-component {
    cursor: pointer;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px;
    background: var(--folder);
    border-radius: 10px;
    color: var(--important);
    opacity: 0;
    transform: translateY(30%);
    transition: opacity .7s ease, transform .25s ease, scale .2s ease;
}


folder-component:hover {
    scale: 1.05;
}


folder-component div:hover {
    opacity: 1;
}


folder-component p {
    padding: 5px;
    margin: 0 10px;
    font-size: 15px;
}


recent-folder-component {
    cursor: pointer;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px;
    background: var(--folder);
    border-radius: 10px;
    color: var(--important);
    opacity: 0;
    transform: translateY(30%);
    transition: opacity .7s ease, transform .25s ease, scale .2s ease;
}

recent-folder-component:hover {
    scale: 1.05;

}

recent-folder-component i,
folder-component i {
    margin-right: 10px;
    font-size: 18px;
}


folder-path-component {
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    color: var(--file-path);
    cursor: pointer;
    transition: .2s;
}

folder-path-component:hover {
    background-color: var(--hover);
    color: #5c7fdd;
}



pinned-folder-component {
    cursor: pointer;
    display: block;
    padding: 10px 30px;
    margin: 0 10px;
    border-radius: 7px;
    font-size: 14px;
    color: var(--important);
    opacity: 0;
    transform: translateY(30%);
    transition: opacity .7s ease, transform .25s ease, scale .2s ease, background .15s ease;
}

pinned-folder-component i {
    margin: 0 5px;
    font-size: 18px;
}


pinned-folder-component:hover {
    background: var(--hover);
    font-weight: var(--font-weight-bold);
    scale: 1.05;
}





.color-blue-1 p,
.color-blue-2 p,
.color-blue-3 p,
.color-blue-4 p,
.color-green-1 p,
.color-green-2 p,
.color-green-3 p,
.color-purple-1 p,
.color-purple-2 p,
.color-red-1 p,
.color-red-2 p,
.color-orange-1 p,
.color-orange-2 p {color: #1b1c22}


.color-blue-1 { background: var(--background-blue-1); }
.color-blue-2 { background: var(--background-blue-2); }
.color-blue-3 { background: var(--background-blue-3); }
.color-blue-4 { background: var(--background-blue-4); }
.color-green-1 { background: var(--background-green-1);}
.color-green-2 { background: var(--background-green-2); }
.color-green-3 { background: var(--background-green-3); }
.color-purple-1 { background: var(--background-purple-1); }
.color-purple-2 { background: var(--background-purple-2); }
.color-red-1 { background: var(--background-red-1); }
.color-red-2 { background: var(--background-red-2); }
.color-orange-1 { background: var(--background-orange-1); }
.color-orange-2 { background: var(--background-orange-2); }



.color-blue-1 #folder-icon { color: var(--color-blue-1) !important; }
.color-blue-2 #folder-icon { color: var(--color-blue-2) !important; }
.color-blue-3 #folder-icon { color: var(--color-blue-3) !important; }
.color-blue-4 #folder-icon { color: var(--color-blue-4) !important; }
.color-green-1 #folder-icon { color: var(--color-green-1) !important; }
.color-green-2 #folder-icon { color: var(--color-green-2) !important; }
.color-green-3 #folder-icon { color: var(--color-green-3) !important; }
.color-purple-1 #folder-icon { color: var(--color-purple-1) !important; }
.color-purple-2 #folder-icon { color: var(--color-purple-2) !important; }
.color-red-1 #folder-icon { color: var(--color-red-1) !important; }
.color-red-2 #folder-icon { color: var(--color-red-2) !important; }
.color-orange-1 #folder-icon { color: var(--color-orange-1) !important; }
.color-orange-2 #folder-icon { color: var(--color-orange-2) !important; }

