list-item-card-1 {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 20px;
    transition: 150ms;
    border-radius: 7px;
    opacity: 0;
    transform: translateY(30%);
    transition: opacity .7s ease, transform .25s ease, scale .2s ease;
}

list-item-card-1:hover{
    scale: 1.02;
    background-color:  var(--list-item-hover);
}

list-item-card-1 .list-item-card-1-buttons-container {
    width: 200px;
    display: flex;
    justify-content: end;
    align-items: center;
    column-gap: 10px;
    opacity: 0;
    transition: 150ms;
}

list-item-card-1 .list-item-card-1-buttons-container:hover {
    opacity: 1;
}

list-item-card-1 span {
    color: var(--important);
    
    width: 100%;
    margin: 0;
    padding: 10px;
}

list-item-card-1 button {
    background-color: transparent;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    color: var(--icon);
}

list-item-card-1 button:hover {
    background-color: var(--hover);
    color: var(--icon-hover);  
}




/*_______________________________ CHECK LIST STYLES BELOW*/
check-list {
    display: flex;
    flex-direction: column;
    padding: 20px;
    row-gap: 20px;
    border: var(--border-checklist);
    border-radius: 10px;
}

check-list .checklist-name-input {
    outline: none;
    border: none;
    color: var(--text);
    background-color: transparent;
    font-size: 25px;
}

check-list .tasks-count {
    display: flex;
    justify-content: end;
    column-gap: 10px;
    padding: 10px;
}

.tasks-count i {
    color: #5c7fdd;
}

check-list .tasks {
    display: flex;
    flex-direction: column;
}

check-list .task {
    position: relative;
    display: flex;
    column-gap: 10px;
    padding: 10px;
    border-radius: 7px;
    transition: .2s background-color;
    order: 0;
}

check-list .task input[type="checkbox"] {
    transform: scale(1.5);
    vertical-align: middle;
    cursor: pointer;
}

check-list .task input[type="text"] {
    background-color: transparent;
    border: none;
    color: var(--text);
    width: 100%;
    font-size: 16px;
}

.add-task-btn {
    order: 1;
    position: relative;
    padding: 10px;
    border-radius: 7px;
    transition: .2s;
}

.add-task-btn i {
    position: absolute;
    top: 13px;
    left: 13px;
}

.add-task-btn input {
    width: 100%;
    font-size: 16px;
    outline: none;
    border: none;
    color: var(--text);
    padding-left: 25px;
    background-color: transparent;
}

check-list .task:hover {
    background-color: var(--hover-checklist-task);
}

check-list .progress {
    height: 5px;
    border-radius: 5px;
    background-color: var(--progress-checklist);
}

check-list .progress__fill {
    width: 0%;
    height: 5px;
    border-radius: 5px;
    background-color: #5c7fdd;
    transition: .2s;
}

.completed-task {
    order: 1 !important;
    background-color: var(--completed-checklist-task);
}

.completed-task input[type="text"] {
    color: #bebedc !important;
}