note-card,
recently-changed-note-card{
    cursor: pointer;
    min-height: 280px;
    max-height: 280px;
    border-radius: 15px;
    background: var(--card);
    display: grid;
    grid-template-rows: 40px 1fr;
    overflow: visible;
    opacity: 0;
    transform: translateY(30%);
    transition: opacity .7s ease, transform .25s ease, scale .2s ease;
}

note-card:hover,
recently-changed-note-card:hover{
    scale: 1.05;
}

note-card h4,
recently-changed-note-card h4 {
    padding: 5px;
    margin: auto 10px;
    color: var(--important);
    font-size: 15px;
    font-weight: 500;
}

note-card .note-content-box,
recently-changed-note-card .note-content-box {
    padding: 10px;
    overflow: hidden;
    color: var(--text-soft);
    cursor: pointer;
    font-size: 9px;
}


note-card .note-content-box img,
recently-changed-note-card .note-content-box img {
    max-width: 150px;
    border-radius: 5px;
}

note-card .note-content-box i {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    color: var(--text);
}

note-card .note-content-box iframe,
recently-changed-note-card .note-content-box iframe {visibility: hidden}

note-card .note-content-box hr,
recently-changed-note-card .note-content-box hr {
    border-style: none;
    border-radius: 5px;
    border: 1px solid var(--editor-text);
  }

note-card .note-content-box :where(h1, h2),
recently-changed-note-card .note-content-box :where(h1, h2) {
    color: var(--important);
    font-weight: 500;
    font-size: 12px
}

note-card .note-content-box h1,
recently-changed-note-card .note-content-box h1{
    font-size: 14px;
    font-weight: 400;
}

note-card .note-content-box .linked-note-container {visibility: hidden}

note-card .note-content-box a,
recently-changed-note-card .note-content-box a {color: rgb(67, 142, 255)}

.note-content-box terminal-snippet {
    visibility: hidden;
}

#bookmark-icon {
    display: none;
    position: absolute;
    top: -10px;
    right: -10px;
    background: var(--bookmark-patch-bg-color);
    color: white;
    width: 27px;
    height: 27px;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 150ms;
}



recently-viewed-note-card {
    background-color: transparent;
    cursor: pointer;
    transition: 200ms;
    display: grid;
    grid-template-columns: 1fr 80px;
    color: var(--text);
    padding: 7px;
    margin: 5px;
    border-radius: 7px;
}

recently-viewed-note-card .name-container {
    display: grid;
    grid-template-columns: 30px 1fr;
}

recently-viewed-note-card .dot {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin: auto 3px;
    background-color: #5c7fdd;
}

recently-viewed-note-card .view-date {
    font-size: 10px;
    display: flex;
    align-items: end;
}

recently-viewed-note-card:hover {
    background-color: var(--hover-searchbar-options);
}
