.notification-card {
    position: absolute;
    /* bottom: -200px; */
    right: 50px;
    
    background-color: #f3f3fd;
    height: fit-content;
    width: 300px;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    transition: 150ms;
}

.notification-card:hover {
    scale: 1.05;
}

.notification-card div {
    display: flex;
    align-items: center;
}

.notification-card i {
    margin-right: 20px;
    color: #46567e;
}

.notification-card .notification-title{
    color: #5c7fdd;
    font-size: 18px;
}

.notification-card .dot {
    width: 7px;
    height: 7px;
    box-shadow: 0 0 10px #5c7fdd;
    background-color: #5c7fdd;
    border-radius: 50%;
    margin-right: 10px;
}

.notification-card p {
    color: #737a8b;
}

.show-notification {
    bottom: 50px;
}

.notify-empty-text {
    font-size: 45px;
    color: var(--placeholder);
    position: absolute;
    top: 35%;
    left: calc(50% - 200.5px);
}