.searchbar {
    position: relative;
    height: 45px;
    width: 50%;
    max-width: 450px;
    min-width: 300px;
    background-color: var(--searchbar);
    border-radius: 50px;
    display: flex;
}


.searchbar input {
    border: none;
    background-color: transparent;
    width: 100%;
    font-size: 16px;
    padding-left: 50px;
    color: var(--text);
}

.searchbar input::placeholder {
    color: var(--less-important);
}

.searchbar #search-icon {
    position: absolute;
    top: 10px;
    left: 20px;
    color: var(--important);
}


.searchbar ul i {
    margin-right: 5px;
    color: var(--placeholder);
    font-size: 18px;
}

.searchbar ul #folder-search-type{color: #5c7fdd}
.searchbar ul #note-search-type {color: #a8b2ff}
.searchbar ul #template-search-type {color: #abb8ff}
