.sidebar {
    font-family: Roboto;
    position: relative;
    display: grid;
    grid-template-rows: 50px 1fr;
    background-color: var(--sidebar);
    border-right: var(--border-sidebar-right);
}

.sidebar-logo {
    padding: 5px 15px;
}

.logo-container {
    display: flex;
    align-items: center;
    height: 40px;
}

.sidebar .logo {
    cursor: pointer;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px 12px 18px 12px;
    color: #fff;
    font-size: 18px;    
    background-color: var(--secondary);
}

.logo-text {
    color: var(--sidebar-text);
    margin-left: 2px;
    font-size: 25px;
    letter-spacing: 2px;
}

.sidebar-content {
    display: grid;
    grid-template-rows: 1fr 50px;
    padding: 10px;
}

.sidebar-content a {
    text-decoration: none;
    position: relative;
    border: none;
    display: flex;
    align-items: center;
    margin: 10px 0;
    border-radius: 10px;
    width: 100%;
    height: 45px;
    background-color: transparent;
    color: var(--sidebar-text);
    transition: .2s;
}

.sidebar-content a span {
    margin-left: 40px;
    font-size: 16px;
}

.sidebar-content a i {
    position: absolute;
    font-size: 18px;
    left: 12px;
}

.sidebar-content a:hover {
    background-color: var(--hover-sidebar);
    color: var(--sidebar-text-hover);
}

.active-tab {
    background-color: var(--active-tab-bg) !important;
    color: var(--active-tab-text) !important;
}

.soft {
    border-right: var(--border-sidebar-soft);
    box-shadow: var(--sidebar-shadow);
    z-index: 2;
}

.soft a {
    color: var(--sidebar-inactive-tab) ;
}