.dark {

    /*sidebar*/
    --sidebar-inactive-tab: #8686a1;
    --sidebar-shadow: 0 0 15px #0a0812;
    /*Settings view*/
    --setting-dropdown: #18182d;
    /*Editor View*/
    --editor-text: #bdc6d5;
    --editor-container: #23252e;
    --editor-container-shadow: transparent;
    --editor-container-input: #16171c;
    --dropdown: #282833;
    --heading3: #9da0bd;
    --heading4: #8e91a3;
    --hover-slash-command: #181b3b;
    --file-path: #9095aa;


    /*stickyWall view*/
    --add-sticky-btn: #18172b;
    --board-types: #181b3b;
    --active-board-type: #292d56;

    /*Notes View*/ 
    --bookmark: #5063b1;
    --dragging: #27293b;
    --hover: #617fff69; 
    --inactive-border: #323852;

    /*borders*/
    --border-notification: none;
    --border-note-view-dropdown: none;
    --border-card: #181821;
    --border-column-board: #444d7d;
    --border-sidebar-right: 1px solid #1e202f;
    --border-sidebar-soft: none;
    --border-checklist: 1px solid #27293b;

    /*Progress bars*/
    --progress-checklist: #656479;

    /*Hover*/
    --hover-button: #0f0e1a;
    --hover-checklist-task: #15162d;
    
    /*Shadows*/
    --shadow-dropdown: 5px 5px 18px #030304;
    --shadow-card: none;

    /*Other*/
    --title-bar-button-background: #252735;
    --title-bar-button-color: #5c7fdd;
    --exit-btn: #28283b;
    --secondary: #5c7dff;
    --background: #353541;
    --notification: #0f0e1a;
    --subtitle: #9196aa;
    --sidebar: #353541;
    --sidebar-soft: #353541;
    --searchbar: #282833;
    --sidebar-text: #d6d8e5;
    --sidebar-text-hover: #5c7fdd; 
    --card: #282833 ;/*linear-gradient(7deg, rgb(27 26 47) 6%, rgb(16 16 35) 100%)*/
    --folder: #282833; /* TODO #setting option color 171531*/
    --text: hsl(232, 20%, 78%);
    --text-soft: hsl(232, 20%, 60%);;
    --icon: #bbbed2;
    --input-bg: #18182d;
    --icon-hover: #5c7dff;
    --important: hsl(232, 22%, 87%);
    --less-important: hsl(232 22% 68% / 1);
    
    
    --hover-searchbar-options: #181821;
    --hover-text: #5c7dff;
    --command-square-bg: transparent;
    --hover-sidebar: #282833;
    --searchbar-placeholder: #d4d7e5; 
    --placeholder: #868b9e;
    --selection: #314682;
    --dialog: rgb(0 0 0 / 25%);
    --shadow: rgba(0, 0, 0, 0.1);
    --modal: #1d1d27;
    --searchbar-dropdown: hsl(240 36.17% 13.41%);
    --scrollbar-content-view: #20274a;
    --home-tab: #28283b;
    --options-menu: hsl(240 36.17% 13.41%);
    --options-menu-hover: hsl(240 53.85% 7.65%);
    --color-picker-background: #12121d;

    /*Feedback variables*/
    --completed-checklist-task: #1c1d3b;
    --empty-folder-icon-background: #1b1b27;
    --active-tab-bg: #5c7fdd;
    --active-tab-text: #fff;

    --scrollbar-editor: #20274a;
    /*Buttons*/
    --button1-bg: #181b3b;
    --button1-hover: #151838;
}

.light {


    /* Folder colors */
    --dark-blue-folder: rgb(121, 144, 255);
    --sky-blue-folder: rgb(169, 215, 255);
    --light-blue-folder: rgb(217, 237, 255);
    --torquise-green-folder: rgb(158, 213, 197);
    --soft-green-folder: rgb(203, 255, 197);
    --light-green-folder: rgb(173, 255, 164);
    --dark-purple-folder: rgb(142, 122, 181);
    --light-purple-folder: rgb(223, 193, 255);
    --dark-red-folder: rgb(255, 163, 163);
    --light-red-folder: rgb(255, 197, 197);
    --dark-orange-folder: rgb(255, 182, 116);
    --light-orange-folder: rgb(255, 224, 158);




    /*sidebar*/
    --sidebar-inactive-tab: #8686a1;
    --sidebar-shadow: 0 0 15px #eaecf7;
    /*Settings view*/
    --setting-dropdown: #f4f5f7;

    /*stickyWall view*/
    --add-sticky-btn: #eae9f9;
    --board-types: #f4f5fa;
    --active-board-type: #d4daff;

    /*Notes View*/
    --dragging: #f3f4ff;
    --bookmark: #d5ddff;
    --hover: #f0f0ff;
    --inactive-border: #f4f5ff;

    /*Home View*/

    /*Editor View*/
    --editor-container: #ffffff;
    --editor-container-shadow: #272933;
    --editor-container-input: #f6f7ff;
    --dropdown: #ffffff;
    --heading3: #707391;
    --heading4: #8e91a3;

    --command-square-bg: rgba(185, 198, 250, 0.5);
    --editor-text: #383838;
    --hover-slash-command: #f4f4fc;
    --file-path: #a0a6c1;
    /*Borders*/
    --border-notification: #f3f5fb;
    --border-card: #dee1ef;
    --border-column-board: #ced2e6;
    --border-sidebar-right: 1px solid #dee1ef; 
    --border-sidebar-soft: 1px solid #ffffff;
    --border-note-view-dropdown: none;
    --border-checklist: 1px solid #dee1ef;

    /*Hover*/
    --hover-button: #f4f4fc;
    --hover-checklist-task: #f3f5ff;

    /*Progress bars*/
    --progress-checklist: #f4f4fc;

    /*Shadows*/
    --shadow-dropdown: 5px 5px 18px #eaecf7;
    --shadow-card: 5px 5px 18px #eaecf7; 

    /*Other*/
    --title-bar-button-background: #dfe7ff;
    --title-bar-button-color: rgb(101, 102, 120);
    --exit-btn: #f8fafe;
    --secondary: #5c7dff;
    --background: #ffffff;
    --notification: #f9fafd;
    --subtitle: #2f3773;
    --sidebar: #ffffff; 
    --sidebar-soft: #ffffff;
    --searchbar: #f4f5ff; /*f4f4fc*/
    --sidebar-text: #444452; 
    --sidebar-text-hover: #1d2134; 
    --card: #ffffff; 
    --folder: #ffffff; /*#f4f5ff*/
    --text: hsl(232, 19%, 33%);
    --text-soft: hsl(232, 19%, 51%);
    --icon: #4c4c68; 
    --input-bg: #f6f6fb;
    --icon-hover: #5c7fdd;
    --important: hsl(233, 42%, 32%);
    --less-important: hsl(233deg 23.62% 57.32%);
    
    --hover-searchbar-options: #f7f7fa;
    --hover-text: #444863;
    --hover-sidebar: #eceeff;
    --searchbar-placeholder: #9297aa; 
    --placeholder: #d4d7e5;
    --selection: #b1daff;
    --dialog: #7d8ead1f;
    --shadow: rgba(92, 98, 157, .1);
    
    --modal: #ffffff;
    --scrollbar-content-view: #eff0f4;
    --searchbar-dropdown: #fff;
    --stats-background: #f4f5fa;
    --options-menu: hsl(235, 100%, 98%);
    --options-menu-hover: hsl(235, 100%, 95%);

    --color-picker-background: #fff;
    --scrollbar-editor: #cfd2e2;
    /*Feedback variables*/
    --completed-checklist-task: #f8f9ff;

    --active-tab-bg: #eceeff;
    --active-tab-text: #5c7fdd;

    /*Buttons*/
    --button1-bg: #f4f4fc;
    --button1-hover: #eaeaf7;
}
